/*
  css module dsLoginReward
*/

.block-dsloginsayreward{
	color:#fff;	
	font-size: 0.6em;
	margin-top: 20px;
	text-transform: uppercase;
	display: inline-block;
	float: right;
	
}

.loginSayreaword{
    padding: 8px;
    border-radius: 5px;
	background: url("http://expertosscj.com/sites/default/files/sr.png") no-repeat center 25px;
	height: 80px;
	border: 2px solid #fff;
}